# All data is fake and for example purposes only. Please replace with your own data.
ACCOUNT_NUMBER=A-TEST1234
API_KEY=sk_live_your_api_key_here
ELECTRICITY_MPAN=1467839563485
ELECTRICITY_SERIAL=23P4564564
GAS_MPAN=3490803456
GAS_SERIAL=E5098346405936